*{
    font-family: Helvetica, sans-serif;
}

body{
    padding: 10px;
}

.hide {
    display: none;
}

a, input[type = 'submit'] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    border: none;
    cursor: pointer;
    
}

input[type = 'email'], input[type = 'textarea']{
    margin: 10px;
}

a:hover, input:hover{
    opacity: 1;
}

form{
    width: 300px;
    flex-direction: column;
    margin-bottom: .3em;
}

form input, form textarea{
    padding:  5px;
}

